<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!-- 定时器配置 lazy-init='false'-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false" autowire="no">
        <property name="triggers">
            <list>
                <!--离退休人员生日提醒 -->
                <!--<ref bean="retirementBirthDayJob"/>
                &lt;!&ndash;从一卡通调取数据到考勤 &ndash;&gt;
                <ref bean="addWorkAttendanceJob"/>
                &lt;!&ndash;考勤统计 &ndash;&gt;
                <ref bean="addWorkStatisticsJob"/>-->
            </list>
        </property>
    </bean>
</beans>