<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd"
       default-lazy-init="true" >

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:config.properties"></property>
    </bean>

    <context:component-scan base-package="com.renshi,com.a_268.base">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <import resource="spring-datasource.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-dispatcher.xml"/>
    <import resource="spring-quartz.xml"/>

    <!-- 调用其他项目的接口 -->
    <bean id="hessianService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceInterface"
                  value="com.renshi.common.BaseHessianService"></property>
        <property name="serviceUrl">
            <value>${layout.root}/hessian/hessianService</value>
        </property>
        <property name="readTimeout">
            <value>100000</value>
        </property>
        <property name="chunkedPost" value="false"/>
    </bean>


    <!-- 调用教务接口 -->
    <bean id="jiaoWuHessianService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceInterface" value="com.renshi.common.JiaoWuHessianService"></property>
        <property name="serviceUrl">
            <value>${jiaowu.root}/hessian/jiaoWuHessianService</value>
        </property>
        <property name="readTimeout">
            <value>100000</value>
        </property>
        <property name="chunkedPost" value="false"/>
    </bean>

    <bean id="kyHessianService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceInterface"
                  value="com.renshi.common.KyHessianService"></property>
        <property name="serviceUrl">
            <value>${ky.root}/hessian/kyHessianService</value>
        </property>
        <property name="readTimeout">
            <value>100000</value>
        </property>
        <property name="chunkedPost" value="false"/>
    </bean>
    <!-- 调用短信平台的接口 -->
    <bean id="smsHessianService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceInterface"
                  value="com.renshi.biz.common.SmsHessianService"></property>
        <property name="serviceUrl">
            <value>${sms.root}/hessian/smsHessianService</value>
        </property>
        <property name="readTimeout">
            <value>100000</value>
        </property>
        <property name="chunkedPost" value="false"/>
    </bean>
    <!-- 调用一卡通接口 -->
    <bean id="workSourceService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceInterface"
                  value="com.renshi.common.WorkSourceService"></property>
        <property name="serviceUrl">
            <value>${ykt.root}/hessian/workSourceService</value>
        </property>
        <property name="readTimeout">
            <value>100000</value>
        </property>
        <property name="chunkedPost" value="false"/>
    </bean>
</beans>