<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houqin.dao.stock.StockRecordDao">

    <select id = "getJoinStockRecordByYear"  resultType="map">
        select
            sum(case month(createTime) when '1' then ifnull(num, 0) else 0 end) as '1',
            sum(case month(createTime) when '2' then ifnull(num, 0) else 0 end) as '2',
            sum(case month(createTime) when '3' then ifnull(num, 0) else 0 end) as '3',
            sum(case month(createTime) when '4' then ifnull(num, 0) else 0 end) as '4',
            sum(case month(createTime) when '5' then ifnull(num, 0) else 0 end) as '5',
            sum(case month(createTime) when '6' then ifnull(num, 0) else 0 end) as '6',
            sum(case month(createTime) when '7' then ifnull(num, 0) else 0 end) as '7',
            sum(case month(createTime) when '8' then ifnull(num, 0) else 0 end) as '8',
            sum(case month(createTime) when '9' then ifnull(num, 0) else 0 end) as '9',
            sum(case month(createTime) when '10' then ifnull(num, 0) else 0 end) as '10',
            sum(case month(createTime) when '11' then ifnull(num, 0) else 0 end) as '11',
            sum(case month(createTime) when '12' then ifnull(num, 0) else 0 end) as '12'
        from stockrecord
        where year(createTime)= #{time};
    </select>

    <select id = "getOutStockRecordByYear"  resultType="map">
        select
            sum(case month(createTime) when '1' then ifnull(num, 0) else 0 end) as '1',
            sum(case month(createTime) when '2' then ifnull(num, 0) else 0 end) as '2',
            sum(case month(createTime) when '3' then ifnull(num, 0) else 0 end) as '3',
            sum(case month(createTime) when '4' then ifnull(num, 0) else 0 end) as '4',
            sum(case month(createTime) when '5' then ifnull(num, 0) else 0 end) as '5',
            sum(case month(createTime) when '6' then ifnull(num, 0) else 0 end) as '6',
            sum(case month(createTime) when '7' then ifnull(num, 0) else 0 end) as '7',
            sum(case month(createTime) when '8' then ifnull(num, 0) else 0 end) as '8',
            sum(case month(createTime) when '9' then ifnull(num, 0) else 0 end) as '9',
            sum(case month(createTime) when '10' then ifnull(num, 0) else 0 end) as '10',
            sum(case month(createTime) when '11' then ifnull(num, 0) else 0 end) as '11',
            sum(case month(createTime) when '12' then ifnull(num, 0) else 0 end) as '12'
        from outstock
        where year(createTime)=#{time};
    </select>

    <select id = "getJoinStockRecordDetailByYearAndMonth" resultType="map">
        select  sum(stockrecord.num) num, goods.name
        from stockrecord
        join goods on goods.id = stockrecord.goodsId
        where year(stockrecord.createTime)= #{year} and month(stockrecord.createTime) = #{month} group by goodsId;
    </select>

    <select id = "getOutStockRecordDetailByYearAndMonth" resultType="map">
        select sum(outstock.num) num, goods.name
        from outstock
        join goods on goods.id = outstock.goodsId
        where year(outstock.createTime)= #{year} and month(outstock.createTime) = #{month} group by goodsId;
    </select>


</mapper>