<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houqin.dao.water.WaterDao">

    <select id="queryWaterStatisticByYear" resultType="com.houqin.entity.water.WaterStatistic">
         Select Year(str_to_date(na.monthTime, '%Y-%m-%d'))as year, Month(str_to_date(na.monthTime, '%Y-%m-%d')) as month,SUM(na.tunnage) as amount
        FROM `water` na
        where ${whereSql}
        Group by Month(str_to_date(na.monthTime, '%Y-%m-%d'))
    </select>


    <select id="queryWaterCountByYear" resultType="int">
        select IFNULL(SUM(tunnage),0) from water na  where ${whereSql};
    </select>

    <select id="queryWaterPurposeByYear" resultType="com.houqin.entity.water.WaterStatistic">
        SELECT type as type ,sum(na.tunnage) as amount
        FROM water na 
        LEFT JOIN watertype ON watertype.id = na.waterType
        where ${whereSql}
        GROUP BY waterType;
    </select>


</mapper>