<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lock.dao.UserInfoDtoDao">

    <select id="queryFloorNum" resultType="com.lock.entity.UserInfoDto">
      SELECT u.UserId, u.UserName, u.BedchamberId, bed.ID, bed.Name FROM UserBasicInfo u LEFT JOIN Bedchamber bed ON u.BedchamberId = bed.ID
      WHERE u.BedchamberId != 0  ${whereSql}
    </select>


</mapper>